@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
*{
    margin:0;
    padding:0;
}

body {
}


h3 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight:700;
    font-size:50px;
}

h2 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight: 500;
    font-size: 30px;
}


nav .navbar-header a,.navbar-nav li a{
    color:floralwhite;
}

.navbar-collapse{
    padding-left:0px;
}

.navbar-nav{
    float:none;
    text-align:center;
    margin:0;
}
.navbar-nav li{
    float:none;
    display:inline-block;
}

.navbar-nav li.link-right{
    float:right;
}

.navbar-custom {
    background-color: #1f8f8f;
   
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.center-text {
    text-align: center;
}

