
<div class="container title-text">
    <h5>Address for contact</h5>
    <button class="btn btn-success" [routerLink]="['/addAddress',userId,contactId]">Add</button>
  <!-- <button class="btn btn-success" [routerLink]="['/addAddress',contactId]">Add</button> -->
  <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Country</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        
      </tr>
      </thead>
      <tbody>
         <tr *ngFor="let address of addressData">
             <td>{{address.id}}</td>
             <td>{{address.city}}</td>
             <td>{{address.state}}</td>
             <td>{{address.country}}</td>
             <td><button class="btn btn-warning" [routerLink]="['/editAddress',userId,contactId,address.id]">edit</button></td>
             
             <td><button class="btn btn-danger" (click)="deleteAddress(userId,contactId,address.id)">delete</button></td>
         </tr>
      </tbody>
    </table>
  
  </div>
  