
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_CustomLayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">

        <div class="page-header center-text">
            <h3>ABOUT PAGE</h3>

        </div>

    </div>

    <div class="col-md-3"></div>

</div>

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-3">

        <h2>
            What we do
        </h2>
        <p>
            Lorem dolor sed viverra ipsum nunc aliquet bibendum enim facilisis. Eleifend quam adipiscing vitae proin sagittis. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus et. Cras semper auctor neque vitae tempus. Ut ornare lectus sit amet est placerat in. Aliquet risus feugiat in ante. Id diam vel quam elementum pulvinar. Diam donec adipiscing tristique risus nec feugiat. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Ac turpis egestas integer eget aliquet nibh praesent. Metus aliquam eleifend mi in. Ac orci phasellus egestas tellus rutrum tellus. Pharetra sit amet aliquam id diam maecenas ultricies mi eget. Risus quis varius quam quisque id diam vel.

         
        </p>
         
    </div>

    <div class="col-md-3">
        <h2>
            Our Goal
        </h2>
        <p>
            Lorem dolor sed viverra ipsum nunc aliquet bibendum enim facilisis. Eleifend quam adipiscing vitae proin sagittis. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus et. Cras semper auctor neque vitae tempus. Ut ornare lectus sit amet est placerat in. Aliquet risus feugiat in ante. Id diam vel quam elementum pulvinar. Diam donec adipiscing tristique risus nec feugiat. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Ac turpis egestas integer eget aliquet nibh praesent. Metus aliquam eleifend mi in. Ac orci phasellus egestas tellus rutrum tellus. Pharetra sit amet aliquam id diam maecenas ultricies mi eget. Risus quis varius quam quisque id diam vel.

      
        </p>

    </div>
    <div class="col-md-3"></div>

</div>


