
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_CustomLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">

        <div class="page-header center-text">
            <h3>CONTACT US</h3>

        </div>

    </div>

    <div class="col-md-3"></div>

</div>