
@{
    ViewBag.Title = "HomePage";
}


<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">

        <div class="page-header center-text">
            <h3>TODO : Simple, Effective, Easy</h3>

        </div>

    </div>

    <div class="col-md-3"></div>

</div>
<div class="row main-content">
    <div class="col-md-1"></div>

    <div class="col-md-4">

        <div class="page-header center-text">

            <h2>Do you find it hard to remember the task you were meant to do. Here's a simple, effective, elegant solution to all your problem</h2>
        </div>
        
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="page-header center-image">


            <img src="~/img/HP_todoMainArea.jpg" class="img-responsive img-rounded hp-main-image" />
        </div>
    </div>

    <div class="col-md-1"></div>

</div>
