
@{
    ViewBag.Title = "Error";
}


@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@ViewBag.Message</strong>
    </div>

}

<div class="row">
    <div class="col-md-3">


    </div>
    <div class="col-md-6">
        <div class="page-header center-text">
            <h2>Oops!!! Something went wrong</h2>
        </div>
        <div class="link-btn">
            <button class="btn btn-light">
                @Html.ActionLink("View Todo", "ShowAllTodo")

            </button>
            <button class="btn btn-light">
                @Html.ActionLink("Add Todo", "AddTodo")

            </button>



        </div>


    </div>
    <div class="col-md-3"></div>
</div>

