<div class="container title-text">
  <h5>Contacts</h5>
<button class="btn btn-success" [routerLink]="['/addContact',userId]">Add</button>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Phone-number</th>
      
      <th scope="col">Favorite</th>
      <th scope="col">Address</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
      
    </tr>
    </thead>
    <tbody>
       <tr *ngFor="let contact of contactList">
           <td>{{contact.id}}</td>
           <td>{{contact.firstName}}</td>
           <td>{{contact.lastName}}</td>
           <td>{{contact.phoneNumber}}</td>
           <td *ngIf="contact.ratings"><i class="fa fa-star"   (click)="addOrRemoveFavorite(userId,contact.id)" [ngClass]="{'yellow':contact.ratings}" aria-hidden="true"></i></td>
           <td *ngIf="!contact.ratings"><i class="fa fa-star"   (click)="addOrRemoveFavorite(userId,contact.id)" [ngClass]="{'yellow':contact.ratings}"   aria-hidden="true"></i></td>
          

           <td><button class="btn btn-primary" [routerLink]="['/address',userId,contact.id]">show</button></td>
           


           <td><button class="btn btn-warning" [routerLink]="['/edit-contact',userId,contact.id]">edit</button></td>
           
           <td><button class="btn btn-danger" [routerLink]="['/delete-contact',userId,contact.id]">delete</button></td>
       </tr>
    </tbody>
  </table>

</div>
