
.flex-box{
    display:flex;
    flex-direction:row;
    width:100%;
    
}
.menuDetails{
    position:relative;
    width:50%;
    justify-content: flex-start;
    
}

.menuDetails img{
    width:300px;
    height:200px;
}


.description{
    position:relative;
    display:flex;
    width:40%;
    justify-content:flex-start;
}
.imageDetail{
    text-align:center;
}
ul{
    list-style-type: none;
}

ul li{
    margin:10px;
}
